if SHIELD_MINIRIS_LEFT

config ZMK_KEYBOARD_NAME
    default "Miniris"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINIRIS_LEFT || SHIELD_MINIRIS_RIGHT

config ZMK_SPLIT
    default y

endif

